services:
  blockscout:
    depends_on:
      - postgres
      - sequencer
    image: blockscout-testnode
    restart: always
    container_name: 'blockscout'
    links:
      - postgres:database
    command:
      - /bin/sh
      - -c
      - |
        bin/blockscout eval "Elixir.Explorer.ReleaseTasks.create_and_migrate()"
        node init/install.js postgres 5432
        bin/blockscout start
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    env_file:
      -  ./blockscout/nitro.env
    environment:
        ETHEREUM_JSONRPC_VARIANT: 'geth'
        ETHEREUM_JSONRPC_HTTP_URL: http://sequencer:8547/
        INDEXER_DISABLE_PENDING_TRANSACTIONS_FETCHER: "true"
        DATABASE_URL: postgresql://postgres:@postgres:5432/blockscout
        ECTO_USE_SSL: "false"
    ports:
      - "127.0.0.1:4000:4000"

  postgres:
    image: postgres:13.6
    restart: always
    container_name: 'postgres'
    environment:
        POSTGRES_PASSWORD: ''
        POSTGRES_USER: 'postgres'
        POSTGRES_HOST_AUTH_METHOD: 'trust'
    volumes:
      - "postgres-data:/var/lib/postgresql/data"
    ports:
      - "127.0.0.1:7432:5432"

  redis:
    image: redis:6.2.6
    ports:
      - "127.0.0.1:6379:6379"

  geth:
    image: ethereum/client-go:v1.16.4
    ports:
      - "127.0.0.1:8545:8545"
      - "127.0.0.1:8551:8551"
      - "127.0.0.1:8546:8546"
      - "127.0.0.1:30303:30303"
    volumes:
      - "l1data:/datadir"
      - "l1keystore:/keystore"
      - "config:/config"
    command:
      - --keystore=/keystore
      - --http
      - --datadir=/datadir
      - --http.addr=0.0.0.0
      - --authrpc.vhosts=*
      - --authrpc.port=8551
      - --authrpc.addr=0.0.0.0
      - --http.vhosts=*
      - --http.api=engine,personal,eth,net,web3
      - --http.corsdomain=*
      - --ws
      - --ws.addr=0.0.0.0
      - --ws.api=personal,eth,net,web3,debug,txpool
      - --allow-insecure-unlock
      - --unlock=0x3f1Eae7D46d88F08fc2F8ed27FCb2AB183EB2d0E
      - --password=/datadir/passphrase
      - --authrpc.jwtsecret=/config/jwt.hex
      - --nodiscover
      - --syncmode=full
      - --state.scheme=hash
      - --dev
      - --dev.period=1
      - --mine
      - --miner.etherbase=0x3f1Eae7D46d88F08fc2F8ed27FCb2AB183EB2d0E
      - --gcmode=archive
      - --rpc.allow-unprotected-txs

  # Creates a genesis state for the beacon chain using a YAML configuration file and
  # a deterministic set of validators
  # TODO: Make num validators customizable
  create_beacon_chain_genesis:
    image: "gcr.io/prysmaticlabs/prysm/cmd/prysmctl:v6.1.1"
    command:
      - testnet
      - generate-genesis
      - --fork=deneb
      - --num-validators=64
      - --genesis-time-delay=15
      - --output-ssz=/consensus/genesis.ssz
      - --chain-config-file=/config/prysm.yaml
      - --geth-genesis-json-in=/config/geth_genesis.json
    volumes:
      - "consensus:/consensus"
      - "config:/config"

  # Runs a Prysm beacon chain from a specified genesis state created in the previous step
  # and connects to go-ethereum in the same network as the execution client.
  # The account used in go-ethereum is set as the suggested fee recipient for transactions
  # proposed via the validators attached to the beacon node.
  prysm_beacon_chain:
    image: "gcr.io/prysmaticlabs/prysm/beacon-chain:v6.1.1"
    command:
      - --datadir=/consensus/beacondata
      - --rpc-port=5000
      - --min-sync-peers=0
      - --genesis-state=/consensus/genesis.ssz
      - --interop-eth1data-votes
      - --bootstrap-node=
      - --chain-config-file=/config/prysm.yaml
      - --rpc-host=0.0.0.0
      - --grpc-gateway-host=0.0.0.0
      - --chain-id=1337
      - --execution-endpoint=http://geth:8551
      - --accept-terms-of-use
      - --jwt-secret=/config/jwt.hex
      - --suggested-fee-recipient=0x000000000000000000000000000000000000dEaD
    depends_on:
      geth:
        condition: service_started
      create_beacon_chain_genesis:
        condition: service_completed_successfully
    ports:
      - "127.0.0.1:5000:5000"
      - "127.0.0.1:3500:3500"
    volumes:
      - "consensus:/consensus"
      - "config:/config"

  # We run a validator client with 64, deterministically-generated keys that match
  # The validator keys present in the beacon chain genesis state generated a few steps above.
  prysm_validator:
    image: "gcr.io/prysmaticlabs/prysm/validator:stable"
    command:
      - --beacon-rpc-provider=prysm_beacon_chain:5000
      - --datadir=/consensus/validatordata
      - --accept-terms-of-use
      - --interop-num-validators=64
      - --interop-start-index=0
      - --chain-config-file=/config/prysm.yaml
    depends_on:
      prysm_beacon_chain:
        condition: service_started
    volumes:
      - "consensus:/consensus"
      - "config:/config"

  sequencer:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8547:8547"
      - "127.0.0.1:8548:8548"
      - "127.0.0.1:9642:9642"
    volumes:
      - "seqdata:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
      - "tokenbridge-data:/tokenbridge-data"
    command:
      - --conf.file=/config/sequencer_config.json
      - --node.feed.output.enable
      - --node.feed.output.port=9642
      - --http.api=net,web3,eth,txpool,debug,timeboost,auctioneer
      - --node.seq-coordinator.my-url=http://sequencer:8547
      - --graphql.enable
      - --graphql.vhosts=*
      - --graphql.corsdomain=*
    depends_on:
      - geth

  sequencer_b:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8647:8547"
      - "127.0.0.1:8648:8548"
    volumes:
      - "seqdata_b:/home/user/.arbitrum/local/nitro"
      - "config:/config"
    command:
      - --conf.file=/config/sequencer_config.json
      - --node.seq-coordinator.my-url=http://sequencer_b:8547
      - --http.api=net,web3,eth,txpool,debug,timeboost,auctioneer
    depends_on:
      - geth
      - redis

  sequencer_c:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8747:8547"
      - "127.0.0.1:8748:8548"
    volumes:
      - "seqdata_c:/home/user/.arbitrum/local/nitro"
      - "config:/config"
    command:
      - --conf.file=/config/sequencer_config.json
      - --node.seq-coordinator.my-url=http://sequencer_c:8547
      - --http.api=net,web3,eth,txpool,debug,timeboost,auctioneer
    depends_on:
      - geth
      - redis

  sequencer_d:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8847:8547"
      - "127.0.0.1:8848:8548"
    volumes:
      - "seqdata_d:/home/user/.arbitrum/local/nitro"
      - "config:/config"
    command:
      - --conf.file=/config/sequencer_config.json
      - --node.seq-coordinator.my-url=http://sequencer_d:8547
      - --http.api=net,web3,eth,txpool,debug,timeboost,auctioneer
    depends_on:
      - geth
      - redis

  staker-unsafe:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8047:8547"
      - "127.0.0.1:8048:8548"
    volumes:
      - "unsafestaker-data:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
    command: --conf.file /config/unsafe_staker_config.json
    depends_on:
      - sequencer
      - redis
      - validation_node

  poster:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8147:8547"
      - "127.0.0.1:8148:8548"
    volumes:
      - "poster-data:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
    command: --conf.file /config/poster_config.json
    depends_on:
      - geth
      - redis

  poster_b:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:9147:8547"
      - "127.0.0.1:9148:8548"
    volumes:
      - "poster-data-b:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
    command: --conf.file /config/poster_config.json
    depends_on:
      - geth
      - redis

  poster_c:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:9247:8547"
      - "127.0.0.1:9248:8548"
    volumes:
      - "poster-data-c:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
    command: --conf.file /config/poster_config.json
    depends_on:
      - geth
      - redis

  validator:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8247:8547"
      - "127.0.0.1:8248:8548"
    volumes:
      - "validator-data:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
    command: --conf.file /config/validator_config.json --http.port 8547 --http.api net,web3,arb,debug --ws.port 8548
    depends_on:
      - sequencer
      - validation_node

  l3node:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:3347:3347"
      - "127.0.0.1:3348:3348"
    volumes:
      - "validator-data:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
    command: --conf.file /config/l3node_config.json --http.port 3347 --http.api net,web3,arb,debug,eth --ws.port 3348
    depends_on:
      - sequencer
      - validation_node

  validation_node:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/nitro-val
    ports:
      - "127.0.0.1:8949:8549"
    volumes:
      - "config:/config"
    command: --conf.file /config/validation_node_config.json

  scripts:
    build: scripts/
    volumes:
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
      - "tokenbridge-data:/tokenbridge-data"

  relay:
    pid: host
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/relay
    ports:
      - "127.0.0.1:9652:9652"
    command: --chain.id 412346 --node.feed.input.url ws://sequencer:9642 --node.feed.output.port 9652

  tokenbridge:
    depends_on:
      - geth
      - sequencer
    pid: host
    build:
      context: tokenbridge/
      args:
        TOKEN_BRIDGE_BRANCH: ${TOKEN_BRIDGE_BRANCH:-}
    environment:
      - ARB_URL=http://sequencer:8547
      - ETH_URL=http://geth:8545
    volumes:
      - "tokenbridge-data:/workspace"
      - /var/run/docker.sock:/var/run/docker.sock

  rollupcreator:
    depends_on:
      - geth
      - sequencer
    pid: host
    build:
      context: rollupcreator/
      args:
        NITRO_CONTRACTS_BRANCH: ${NITRO_CONTRACTS_BRANCH:-}
    volumes:
      - "config:/config"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "contracts:/contracts"
      - "contracts-local:/contracts-local"
      - "referenceda-provider-data:/referenceda-provider"

  datool:
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/datool
    volumes:
      - "config:/config"
      - "das-committee-a-data:/das-committee-a"
      - "das-committee-b-data:/das-committee-b"
      - "das-mirror-data:/das-mirror"
      - "referenceda-provider-data:/referenceda-provider"

  das-committee-a:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/daserver
    ports:
      - "127.0.0.1:9876:9876"
      - "127.0.0.1:9877:9877"
    volumes:
      - "config:/config"
      - "das-committee-a-data:/das"
    command:
      - --conf.file=/config/l2_das_committee.json

  das-committee-b:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/daserver
    ports:
      - "127.0.0.1:8876:9876"
      - "127.0.0.1:8877:9877"
    volumes:
      - "config:/config"
      - "das-committee-b-data:/das"
    command:
      - --conf.file=/config/l2_das_committee.json

  das-mirror:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/daserver
    ports:
      - "127.0.0.1:7877:9877"
    volumes:
      - "config:/config"
      - "das-mirror-data:/das"
    command:
      - --conf.file=/config/l2_das_mirror.json

  referenceda-provider:
    pid: host # allow debugging
    image: ghcr.io/layr-labs/eigenda-proxy:dev
    environment:
      EIGENDA_PROXY_MEMSTORE_ENABLED: true
      EIGENDA_PROXY_ARB_DA_PORT: 9880
      EIGENDA_PROXY_APIS_TO_ENABLE: arb
      EIGENDA_PROXY_STORAGE_BACKENDS_TO_ENABLE: V2
      EIGENDA_PROXY_STORAGE_DISPERSAL_BACKEND: V2
      EIGENDA_PROXY_STORAGE_CACHE_TARGETS: ""
      EIGENDA_PROXY_EIGENDA_V2_SIGNER_PRIVATE_KEY_HEX: "61ed8441f9781743271def8f1cc1639815d1fc5eee92aac44962a8c8f5268f51"
      EIGENDA_PROXY_EIGENDA_V2_ETH_RPC: https://ethereum-sepolia.rpc.subquery.network/public
      EIGENDA_PROXY_EIGENDA_V2_NETWORK: sepolia_testnet
      EIGENDA_PROXY_EIGENDA_V2_MAX_BLOB_LENGTH: 1MiB
      EIGENDA_PROXY_EIGENDA_V2_CERT_VERIFIER_ROUTER_OR_IMMUTABLE_VERIFIER_ADDR: 0x17ec4112c4BbD540E2c1fE0A49D264a280176F0D
      EIGENDA_PROXY_EIGENDA_V2_RBN_RECENCY_WINDOW_SIZE: 0
      EIGENDA_PROXY_EIGENDA_SIGNER_PRIVATE_KEY_HEX: "0000000000000000000100000000000000000000000000000000000000000000"
      EIGENDA_PROXY_EIGENDA_ETH_RPC: https://ethereum-sepolia.rpc.subquery.network/public
      EIGENDA_PROXY_EIGENDA_DISPERSER_RPC: disperser-testnet-sepolia.eigenda.xyz:443
      EIGENDA_PROXY_EIGENDA_SERVICE_MANAGER_ADDR: 0x3a5acf46ba6890B8536420F4900AC9BC45Df4764
      EIGENDA_PROXY_EIGENDA_CUSTOM_QUORUM_IDS: 
      EIGENDA_PROXY_EIGENDA_CONFIRMATION_DEPTH: 6
      EIGENDA_PROXY_EIGENDA_MAX_BLOB_LENGTH: 1MiB

    # entrypoint: /usr/local/bin/daprovider
    # ports:
    #   - "127.0.0.1:9880:9880"
    # volumes:
    #   - "config:/config"
    #   - "referenceda-provider-data:/data"
    #   - "contracts:/contracts"
    #   - "contracts-local:/contracts-local"
    # command:
    #   - --conf.file=/config/referenceda_provider.json

  timeboost-auctioneer:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/autonomous-auctioneer
    volumes:
      - "config:/config"
      - "timeboost-auctioneer-data:/data"
      - "l1keystore:/home/user/l1keystore"
    command:
      - --conf.file=/config/autonomous_auctioneer_config.json
    depends_on:
      - redis

  timeboost-bid-validator:
    pid: host # allow debugging
    image: nitro-node-dev-testnode
    entrypoint: /usr/local/bin/autonomous-auctioneer
    ports:
      - "127.0.0.1:9372:8547"
    volumes:
      - "config:/config"
    command:
      - --conf.file=/config/bid_validator_config.json
      - --http.addr=0.0.0.0
      - --http.vhosts=*
      - --http.corsdomain=*
      - --http.api=auctioneer
      - --log-level=INFO
    depends_on:
      - redis

volumes:
  l1data:
  consensus:
  l1keystore:
  seqdata:
  seqdata_b:
  seqdata_c:
  seqdata_d:
  unsafestaker-data:
  validator-data:
  poster-data:
  poster-data-b:
  poster-data-c:
  config:
  postgres-data:
  tokenbridge-data:
  das-committee-a-data:
  das-committee-b-data:
  das-mirror-data:
  referenceda-provider-data:
  timeboost-auctioneer-data:
  contracts:
  contracts-local:
